{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Camen SanDiego</title>
	<link href="https://fonts.googleapis.com/css?family=Aldrich|Allerta+Stencil|Bangers|Barrio|Black+Ops+One|Bungee+Shade|Diplomata|Faster+One|Holtwood+One+SC|Monofett|New+Rocker|Pacifico|Press+Start+2P|Righteous|Sigmar+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<style type="text/css">
body {
	font-family: 'Press Start 2P';
}

p {
	color: #fff;
	position: absolute;
	top: 15%;
}

.button-login {
	position: absolute;
	top: 80%;
}

.button-cadastro {
	position: absolute;
	top: 80%;
	left: 10%;
}

.button-nova {
	position: absolute;
	top: 80%;
}

.button-continuar {
	position: absolute;
	top: 80%;
	left: 18%;
}

.button-sair {
	position: absolute;
	top: 90%;
	left: 15%;
}

.erro {
	position: absolute;
	top: 25%;
}
</style>
</head>
<body style="background-image: url({% static 'images/carmen.jpg' %}); background-repeat: no-repeat; background-position: 30% 25%;">
	{% if request.user.is_authenticated %}
	<p>Bem vindo, agente {{ request.user.username }}! <br>Selecione uma das opções e divirta-se.</p>
	<a href="{% url 'jogo:partida' %}"><button class="btn btn-default button-nova" type="button"><i class="fas fa-plus"></i> Nova Partida</button></a>
	<a href="{% url 'jogo:continuar' %}"><button class="btn btn-default button-continuar" type="button"><i class="fas fa-gamepad"></i> Continuar Partida</button></a>
	<a href="{% url 'core:logout' %}"><button class="btn btn-danger button-sair" type="button"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Sair</button></a>
	{% if mensagem %}
	<p class="erro">{{mensagem}} <br> Para continuar uma partida você deve ter partidas salvas.</p>
	{% endif %}

	{% else %}
		<p>Bem vindo, ao jogo Carmen SanDiego. <br>Para começar, crie uma conta ou faça login!</p>
		<a href="{% url 'core:login' %}"><button class="btn btn-default button-login" type="button"><span class="glyphicon glyphicon-user"></span> Login</button></a>
		<a href="{% url 'core:cadastro' %}"><button class="btn btn-default button-cadastro" type="button"><i class="fas fa-plane-departure"></i> Cadastro</button></a>
	{% endif %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>
</html>